14 Febuary 2024
# <center>Lab 5 Assignment - CS 4315<center>
<center>Doug Andrade</center>

#### 1. Load the armada.csv into a `Pandas` dataframe.

In [1]:
# Import the Pandas module for data frame operations
import pandas as pd

# Set the csv file name to a object, to avoid hard-coding
csv_file = 'armada.csv'

# Read-in the csv file as a Pandas data frame, as an object to be operated on later
armada_df = pd.read_csv(filepath_or_buffer = csv_file)

armada_df.head()

,Battle,Year,Portuguese Ships,Dutch Ships,English Ships,Ratio of Portuguese Ships to Dutch/British Ships,Spanish Involvement,Portuguese Outcome
0,Bantam,1601,6,3,0,2.000,No,Draw
1,Malacca Strait,1606,14,11,0,1.273,No,Draw
2,Ilha das Naus,1606,6,9,0,0.667,No,Defeat
3,Pulo Butum,1606,7,9,0,0.778,No,Victory
4,Surrat,1615,6,0,4,1.500,No,Draw

#### 2. Get the `mean`, `standard deviation`, `max`, and `min` of each numeric column.

In [2]:
# the describe() function quickly outputs statistical metrics for the numeric features (only) of the data set
armada_df.describe()

,Year,Portuguese Ships,Dutch Ships,English Ships,Ratio of Portuguese Ships to Dutch/British Ships
count,28.000000,28.000000,28.000000,28.000000,28.000000
mean,1628.392857,13.142857,13.428571,1.785714,1.159893
std,17.559084,15.922763,22.280083,5.927695,0.928341
min,1588.000000,2.000000,0.000000,0.000000,0.150000
25%,1618.750000,5.750000,4.000000,0.000000,0.650250
50%,1628.500000,6.000000,8.000000,0.000000,0.928500
75%,1639.000000,14.000000,11.000000,0.000000,1.500000
max,1658.000000,69.000000,110.000000,31.000000,4.636000

#### 3. Create z-scored columns for each numeric column using the statistics for the samples given.

In [3]:
# Using list comprehension and conditional statements, create a list of all the numeric column names 
# I initially thought to exclude "Year", but decided its Z-Score could actually have some potential insight on time
numeric_col_list = [col for col in armada_df.columns if armada_df[col].dtype != 'object']

# Iterate only the data frame columns that exist in the "numerica_col_list" above
for col in numeric_col_list:
    # Create a new column name for the cooresponding columns Z-Score
    zscored_col_name = col + ' Z-Score'
    # Immediately insert the new Z-Score column next to the parent column by adding one to the parent's column position 
    # within the insert function
    armada_df.insert(armada_df.columns.get_loc(col) + 1, 
                     # Calculate the Z-Score (x - x_bar) / x_std)
                     zscored_col_name, (armada_df[col] - armada_df[col].mean()) / armada_df[col].std())

armada_df.head()

,Battle,Year,Year Z-Score,Portuguese Ships,Portuguese Ships Z-Score,Dutch Ships,Dutch Ships Z-Score,English Ships,English Ships Z-Score,Ratio of Portuguese Ships to Dutch/British Ships,Ratio of Portuguese Ships to Dutch/British Ships Z-Score,Spanish Involvement,Portuguese Outcome
0,Bantam,1601,-1.560039,6,-0.448594,3,-0.468067,0,-0.301249,2.000,0.904955,No,Draw
1,Malacca Strait,1606,-1.275286,14,0.053831,11,-0.109002,0,-0.301249,1.273,0.121838,No,Draw
2,Ilha das Naus,1606,-1.275286,6,-0.448594,9,-0.198768,0,-0.301249,0.667,-0.530939,No,Defeat
3,Pulo Butum,1606,-1.275286,7,-0.385791,9,-0.198768,0,-0.301249,0.778,-0.411371,No,Victory
4,Surrat,1615,-0.762731,6,-0.448594,0,-0.602716,4,0.373549,1.500,0.366360,No,Draw

#### 4. Create either a binary column or one-hot columns for the non-numeric columns.

In [4]:
# Identify non-numeric columns
non_numeric_col_list = armada_df.select_dtypes(include = 'object').columns

# Loop through non-numeric columns
for col in non_numeric_col_list:
    # Check of binary columns (two categories)
    if armada_df[col].nunique() < 3:
        # Create the new binary column name
        binary_col_name = col + ' Binary'
        # Build out the new binary column, without replacing the orginal
        armada_df[binary_col_name] = armada_df[col].replace({'No': 0, 'Yes': 1})
    # Continue looping through all non-numeric columns with 3 or more categories
    else:
        # concatenate the one-hot encoded columns to the original dataframe, setting drop_first to False to prevent
        # unintended correlations
        armada_df = pd.concat(objs = [armada_df, pd.get_dummies(armada_df[col], prefix = col, drop_first = False)], 
                              axis = 1)

armada_df.head()

,Battle,Year,Year Z-Score,Portuguese Ships,Portuguese Ships Z-Score,Dutch Ships,Dutch Ships Z-Score,English Ships,English Ships Z-Score,Ratio of Portuguese Ships to Dutch/British Ships,...,Battle_Mogincoal Shoals,Battle_Paraiba,Battle_Pulo Butum,Battle_Recife,Battle_Surrat,Battle_Tamandare,Spanish Involvement Binary,Portuguese Outcome_Defeat,Portuguese Outcome_Draw,Portuguese Outcome_Victory
0,Bantam,1601,-1.560039,6,-0.448594,3,-0.468067,0,-0.301249,2.000,...,False,False,False,False,False,False,0,False,True,False
1,Malacca Strait,1606,-1.275286,14,0.053831,11,-0.109002,0,-0.301249,1.273,...,False,False,False,False,False,False,0,False,True,False
2,Ilha das Naus,1606,-1.275286,6,-0.448594,9,-0.198768,0,-0.301249,0.667,...,False,False,False,False,False,False,0,True,False,False
3,Pulo Butum,1606,-1.275286,7,-0.385791,9,-0.198768,0,-0.301249,0.778,...,False,False,True,False,False,False,0,False,False,True
4,Surrat,1615,-0.762731,6,-0.448594,0,-0.602716,4,0.373549,1.500,...,False,False,False,False,True,False,0,False,True,False

#### 5. Calculate and display, with a color gradient, the correlation between the z-scored, binary, and one-hot columns, excluding the battle one-hot columns.

In [5]:
# List the columns to calculate and display correlation as an object
cols_to_corr = ['Year Z-Score',
                'Portuguese Ships Z-Score', 
                'Dutch Ships Z-Score', 
                'English Ships Z-Score', 
                'Ratio of Portuguese Ships to Dutch/British Ships Z-Score',
                'Spanish Involvement Binary',
                'Portuguese Outcome_Defeat',
                'Portuguese Outcome_Draw',
                'Portuguese Outcome_Victory',
               ]

# Run the Pandas .corr() function with the "bwr" matplotlib colormap for greater contrast
armada_df[cols_to_corr].corr().style.background_gradient(cmap = 'bwr',
                                                              vmin = -1.0, # min colormap value
                                                              vmax = 1.0) # max colormap value