14 Febuary 2024
# <center>Lab 5 Assignment - CS 4315<center>
<center>Doug Andrade</center>

#### 1. Load the armada.csv into a `Pandas` dataframe.

In [1]:
# Import the Pandas module for data frame operations
import pandas as pd

# Set the csv file name to a object, to avoid hard-coding
csv_file = 'armada.csv'

# Read-in the csv file as a Pandas data frame, as an object to be operated on later
armada_df = pd.read_csv(filepath_or_buffer = csv_file)

# Preview the top 5 rows of the data frame
armada_df.head()

,Battle,Year,Portuguese Ships,Dutch Ships,English Ships,Ratio of Portuguese Ships to Dutch/British Ships,Spanish Involvement,Portuguese Outcome
0,Bantam,1601,6,3,0,2.000,No,Draw
1,Malacca Strait,1606,14,11,0,1.273,No,Draw
2,Ilha das Naus,1606,6,9,0,0.667,No,Defeat
3,Pulo Butum,1606,7,9,0,0.778,No,Victory
4,Surrat,1615,6,0,4,1.500,No,Draw

#### 2. Get the `mean`, `standard deviation`, `max`, and `min` of each numeric column.

In [2]:
armada_df.describe()

,Year,Portuguese Ships,Dutch Ships,English Ships,Ratio of Portuguese Ships to Dutch/British Ships
count,28.000000,28.000000,28.000000,28.000000,28.000000
mean,1628.392857,13.142857,13.428571,1.785714,1.159893
std,17.559084,15.922763,22.280083,5.927695,0.928341
min,1588.000000,2.000000,0.000000,0.000000,0.150000
25%,1618.750000,5.750000,4.000000,0.000000,0.650250
50%,1628.500000,6.000000,8.000000,0.000000,0.928500
75%,1639.000000,14.000000,11.000000,0.000000,1.500000
max,1658.000000,69.000000,110.000000,31.000000,4.636000

#### 3. Create z-scored columns for each numeric column using the statistics for the samples given.

In [3]:
for column in armada_df.columns:
    if armada_df[column].dtype != object:  # Check if the column is numeric (excluding strings)
        armada_df['z'] = (armada_df[column] - armada_df[column].mean()) / armada_df[column].std()

# Print the resulting DataFrame with z-scored values
armada_df.head()

,Battle,Year,Portuguese Ships,Dutch Ships,English Ships,Ratio of Portuguese Ships to Dutch/British Ships,Spanish Involvement,Portuguese Outcome,z
0,Bantam,1601,6,3,0,2.000,No,Draw,0.904955
1,Malacca Strait,1606,14,11,0,1.273,No,Draw,0.121838
2,Ilha das Naus,1606,6,9,0,0.667,No,Defeat,-0.530939
3,Pulo Butum,1606,7,9,0,0.778,No,Victory,-0.411371
4,Surrat,1615,6,0,4,1.500,No,Draw,0.366360

#### 4. Create either a binary column or one-hot columns for the non-numeric columns.

#### 5. Calculate and display, with a color gradient, the correlation between the z-scored, binary, and one-hot columns, excluding the battle one-hot columns.